<div data-ng-controller="HeaderController" data-ng-init="prepareMenu()" ng-show="authentication.user">
    <div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a ng-hide="authentication.user.group.isImage" href="/#!/companyfeeds/create" class="navbar-brand">
			<img ng-src="../imgs/SumaLogo.png"/>
		</a>
		<a ng-show="authentication.user.group.isImage" href="/#!/companyfeeds/create" class="navbar-groupImg">
			<img ng-src="{{groupImage}}"/>
		</a>
		<!--<a href="/#!/userlist" class="navbar-brand" ng-show="showUser">UserList</a>-->
	</div>
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span translate="{{item.title}}"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" translate="{{subitem.title}}"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" translate="{{item.title}}"></a>
			</li>
		</ul>

		<ul class="nav navbar-nav language-button">
			<div class="btn-group btn-toggle">
				<button ng-class="{false: 'btn btn-sm btn-default', true: 'btn btn-sm btn-primary active'}[isActive]"  ng-click="changeLanguage('en')" translate="en"></button>
				<button ng-class="{true: 'btn btn-sm btn-default', false: 'btn btn-sm btn-primary active'}[isActive]" ng-click="changeLanguage('hi')" translate="hi"></button>
			</div>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup" translate="header.sigu"></a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin" translate="header.sigi"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="20" width="40" class="img-thumbnail">
					<img ng-show="authentication.user.isImage" ng-src="{{imgPath}}" height="20" width="40">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>

				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile" translate="header.eprf"></a>
					</li>
					<li>
						<a href="/#!/settings/accounts" translate="header.msa"></a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password" translate="header.cpw"></a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout" translate="header.sigo"></a>
					</li>
				</ul>
			</li>
		</ul>
		</nav>
		<div class="row">
			<div class="container col-xs-12 col-md-12 col-xs-offset-8 col-md-offset-10">
				<div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left: -140px;">
					<div class="col-xs-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading top-bar" style="background: #265a88" ng-click="widgetExpanded = !widgetExpanded">
								<div class="col-md-8 col-xs-8" ng-click="minWind()">
									<h3 class="panel-title" style="color: white" ><span class="glyphicon glyphicon-comment"></span> Chat</h3>
								</div>
								<!--<div class="col-md-4 col-xs-4" style="text-align: right;">-->
								<!--<a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim" style="color: black"></span></a>-->
								<!--<a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1" style="color: black"></span></a>-->
								<!--</div>-->
							</div>
							<div class="panel-body msg_container_base" ng-show="showChat">
							<span ng-repeat="packet in Messages">
								<div ng-if="packet.type === 'Reciever'" class="row msg_container base_sent">
									<div class="col-md-10 col-xs-10">
										<div class="messages msg_sent">
											<p>{{packet.msg}}</p>
											<time>{{packet.time}}</time>
											<time>{{packet.name}}</time>
										</div>
									</div>
									<div class="col-md-2 col-xs-2 avatar">
										<img ng-show="packet.isImage" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{packet.id}}" class=" img-responsive ">
										<img ng-hide="packet.isImage" ng-src="../imgs/default-avatar.jpg" class=" img-responsive ">
									</div>
								</div>
								<div ng-if="packet.type === 'Sender'" class="row msg_container base_receive">
									<div class="col-md-2 col-xs-2 avatar">
										<img ng-hide="packet.isImage" ng-src="../imgs/default-avatar.jpg" class="img-responsive" height="40" width="60">
										<img ng-show="packet.isImage" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{packet.id}}" class=" img-responsive" height="40" width="60">
									</div>
									<div class="col-md-10 col-xs-10">
										<div class="messages msg_receive">
											<p ng-bind="packet.msg"></p>
											<time>{{packet.time | date:"dd/MM/yyyy 'at' h:mma"}} </time>
											<time>{{packet.name}}</time>
										</div>
									</div>
								</div>
							</span>
							</div>
							<div class="panel-footer" ng-show="showChat">
								<div class="input-group">
								<span class="input-group-btn">
									<form ng-submit="submitchat()">
										<input id="btn-input" type="text" ng-model="msg" class="form-control input-sm chat_input" placeholder="Write your message here..." />
									</form>
								</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
