<section class="row" data-ng-controller="AuthenticationController">

        <h3 class="col-md-12 text-center">Sign up or<a href="/#!/">Login</a></h3>
        <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
            <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="firstName">First Name</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" required id="firstName" name="firstName" class="form-control"
                                   data-ng-model="credentials.firstName" placeholder="First Name"
                                    >
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="lastName">Last Name</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="email">Email</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label>Role</label>
                        <div class="input-group">
                            <input type="radio" name="looking_for" value="admin" ng-model="credentials.roles" data-role="none">&nbsp;&nbsp;Admin
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="looking_for" value="user" ng-model="credentials.roles" data-role="none">&nbsp;&nbsp;Empolyee
                        </div>
                    </div>
                    <!--<div class="form-group required">-->
                        <!--<label>Group</label>-->
                        <!--<div class="input-group">-->
                            <!--<select ng-model="credentials.group"-->
                                    <!--ng-options="grp as grp.name for grp in groups">-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
                    </div>
                </fieldset>
            </form>
        </div>
</section>
