.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.navbar-brand img {
	width: 100px;
	height: 50px;
	margin-top: -12px;
}
.nav li a img {
	max-width: none;
	width: 50px;
	height: 38px;   margin-top: -12px;
	margin-bottom: -12px;
}
.language-button {
	margin-top: 10px;

}

.article-left-pull {
	margin-left: -20px;
}
.text-color{
	color: #265a88;
	font-size: large;
}
