<section class="row" data-ng-controller="PasswordController">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<h3 class="col-md-12 text-center">Reset your password</h3>
<div class="panel panel-default col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 panel-radius">
	<div class="panel-body">
		<form data-ng-submit="resetUserPassword()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>
				<div class="form-group required">
					<label for="newPassword">New Password</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
						<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
					</div>
				</div>
				<div class="form-group required">
					<label for="verifyPassword">Verify Password</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Update Password</button>
				</div>

			</fieldset>
		</form>
	</div>
</div>
</section>
