<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1 translate="grp.gps"></h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="group in groups" data-ng-href="#!/groups/{{group._id}}" class="list-group-item">
            <div class="container row">
                <div class="col-xs-3 col-md-1 text-center article-left-pull">
                    <img ng-show="!group.isImage" class="img-rounded center-block table-bordered" ng-src="../imgs/default_group.png" height="55" width="55">
                    <img ng-show="group.isImage" class="img-rounded center-block table-bordered" ng-src="https://s3.amazonaws.com/sumacrm/groups/{{group._id}}" height="55" width="55">
                </div>
                <div class="col-xs-9 col-md-11 article-left-pull">
                    <small class="col-xs-12 col-md-12 list-group-item-text">
                        <span translate="list.pon"></span>
                        <span data-ng-bind="group.createdDate | date:'mediumDate'"></span>
                        <span translate="list.by"></span>
                        <span data-ng-bind="group.createdBy.displayName"></span>
                        <div class="text-color" data-ng-bind="group.name"></div>
                    </small>
                    <div class="col-xs-12 col-md-12">
                        <p class="list-group-item-text text-justify" data-ng-bind="group.createdDate"></p>
                    </div>

                </div>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!groups.$resolved || groups.length">
    	<span translate="grp.ngy"></span> <a href="/#!/groups/create" translate="list.crto"></a>?
    </div>
</section>
