<section data-ng-controller="AdminsController" data-ng-init="findUserList()">
    <br>
    <h1 translate="user"></h1>
    <div class="list-group">
        <a data-ng-repeat="users in userList" class="list-group-item">
            <div class="container row">
                <div  class="col-xs-2 col-md-1" style="margin-left: -25px;">
                    <img ng-show="!users.isImage" class="img-rounded center-block table-bordered" ng-src="../imgs/default-avatar.jpg" height="55" width="55">
                    <img ng-show="users.isImage" class="img-rounded center-block table-bordered" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{users._id}}" height="55" width="55">
                </div>

                <div class="col-xs-3 col-md-4">
                    <small class="col-xs-12 col-md-12 list-group-item-text">
                        <div class="text-color" data-ng-bind="users.displayName"></div>
                    </small>
                </div>
                <div class="col-xs-7 col-md-7 btn-group btn-toggle" style="margin-left: 25px;">
                    <div ng-if="users.roles[0] === 'user'">
                    <div class="btn-group btn-toggle">
                        <button ng-class="{false: 'btn btn-sm btn-default', true: 'btn btn-sm btn-primary active'}[isActive]" ng-model="users.roles"  ng-click="roleChange(users.roles,$index,users._id)" translate="user"></button>
                        <button ng-class="{true: 'btn btn-sm btn-default', false: 'btn btn-sm btn-primary active'}[isActive]" ng-model="users.roles" ng-click="roleChange('admin',$index,users._id)" translate="admin.adm"></button>
                    </div>
                    </div>
                    <div ng-if="users.roles[0] === 'admin'">
                    <div class="btn-group btn-toggle">
                        <button ng-class="{true: 'btn btn-sm btn-default', false: 'btn btn-sm btn-primary active'}[isActive]" ng-model="users.roles"  ng-click="roleChange('user',$index,users._id)" translate="user"></button>
                        <button ng-class="{false: 'btn btn-sm btn-default', true: 'btn btn-sm btn-primary active'}[isActive]" ng-model="users.roles" ng-click="roleChange(user.roles,$index,users._id)" translate="admin.adm"></button>
                    </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" num-pages="numofPages" max-size="maxSize" items-per-page ="itemsPerPage" data-ng-hide="totalItems < 10"></pagination>
</section>
