<section data-ng-controller="ArticlesController" data-ng-init="find()">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 top-buffer" auto-complete value="autoCompleteData" model="data.tags"></div>
        </div>
    </div>
    <div class="page-header">
		<button class="btn btn-primary btn-lg" ng-click="GeneratPusher()" translate="list.push"></button>
		<h1 translate="list.art"></h1>
	</div>
	<div class="page-header"> Sample Toaster messages :
		<button ng-click="toasterCheckSuc()" class="btn btn-success" translate="list.suc"></button>
		<button ng-click="toasterCheckInf()" class="btn btn-info" translate="list.inf"></button>
		<button ng-click="toasterCheckErr()" class="btn btn-danger" translate="list.err"></button>
		<button ng-click="toasterCheckWar()" class="btn btn-warning" translate="list.war"></button>
		<button ng-click="toasterCheckWit()" class="btn btn-primary" translate="list.wtit"></button>
		<button ng-click="toasterCheckAll()" class="btn btn-default" translate="list.allm"></button>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<div class="container row">
				<div class="col-xs-3 col-md-1 text-center article-left-pull">
					<img ng-show="!article.user.isImage" class="img-rounded center-block table-bordered" ng-src="../imgs/default-avatar.jpg" height="55" width="55">
					<img ng-show="article.user.isImage" class="img-rounded center-block table-bordered" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{article.user._id}}" height="55" width="55">
				</div>
				<div class="col-xs-9 col-md-11 article-left-pull">
					<small class="col-xs-12 col-md-12 list-group-item-text">
						<span translate="list.pon"></span>
						<span data-ng-bind="article.created | date:'mediumDate'"></span>
						<span translate="list.by"></span>
						<span data-ng-bind="article.user.displayName"></span>
						<div class="text-color" data-ng-bind="article.title"></div>
					</small>
					<div class="col-xs-12 col-md-12">
					<p class="list-group-item-text text-justify" data-ng-bind="article.content"></p>
					</div>

				</div>
			</div>
		</a>
<!--		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span translate="list.pon"></span>
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				<span translate="list.by"></span>
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>-->
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		<span translate="list.nayw"></span> <a href="/#!/articles/create" translate="list.crto"></a>?
	</div>
</section>
