<section data-ng-controller="ArticlesController" data-ng-init="find()">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 top-buffer" auto-complete value="autoCompleteData" model="data.tags" placeholder="Search the users"></div>
        </div>
    </div>
    <div class="page-header">
		<button class="btn btn-primary btn-lg" ng-click="GeneratPusher()" translate="list.push"></button>
		<button class="btn btn-primary btn-lg" ng-click="PayPal()" translate="paypal.paypal"></button>
		<h1 class="title" translate="list.art"></h1>
	</div>
	<div class="page-header"> Sample Toaster messages :
		<button ng-click="toasterCheckSuc()" class="btn btn-success" translate="list.suc"></button>
		<button ng-click="toasterCheckInf()" class="btn btn-info" translate="list.inf"></button>
		<button ng-click="toasterCheckErr()" class="btn btn-danger" translate="list.err"></button>
		<button ng-click="toasterCheckWar()" class="btn btn-warning" translate="list.war"></button>
		<button ng-click="toasterCheckWit()" class="btn btn-primary" translate="list.wtit"></button>
		<button ng-click="toasterCheckAll()" class="btn btn-default" translate="list.allm"></button>
	</div>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<div class="container row">
				<div class="col-xs-3 col-md-1 text-center article-left-pull">
					<img ng-show="!article.user.isImage" class="img-rounded center-block table-bordered" ng-src="../imgs/default-avatar.jpg" height="55" width="55">
					<img ng-show="article.user.isImage" class="img-rounded center-block table-bordered" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{article.user._id}}" height="55" width="55">
				</div>
				<div class="col-xs-9 col-md-11 article-left-pull">
					<small class="col-xs-12 col-md-12 list-group-item-text">
						<span translate="list.pon"></span>
						<span data-ng-bind="article.created | date:'mediumDate'"></span>
						<span translate="list.by"></span>
						<span data-ng-bind="article.user.displayName"></span>
						<div class="text-color" data-ng-bind="article.title"></div>
					</small>
					<div class="col-xs-12 col-md-12">
					<p class="list-group-item-text text-justify" data-ng-bind="article.content"></p>
					</div>

				</div>
			</div>
		</a>
<!--		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span translate="list.pon"></span>
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				<span translate="list.by"></span>
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>-->
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		<span translate="list.nayw"></span> <a href="/#!/articles/create" translate="list.crto"></a>?
	</div>

	<!-- chat work star here-->
	<!--<div class="row">-->
		<!--<div class="container col-xs-12 col-md-12 col-md-offset-10 col-xs-offset-8">-->
			<!--<div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" >-->
				<!--<div class="col-xs-12 col-md-12">-->
					<!--<div class="panel panel-default">-->
						<!--<div class="panel-heading top-bar" style="background: #265a88" ng-click="widgetExpanded = !widgetExpanded">-->
							<!--<div class="col-md-8 col-xs-8">-->
								<!--<h3 class="panel-title" style="color: white" ><span class="glyphicon glyphicon-comment"></span> Chat</h3>-->
							<!--</div>-->
							<!--&lt;!&ndash;<div class="col-md-4 col-xs-4" style="text-align: right;">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim" style="color: black"></span></a>&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1" style="color: black"></span></a>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</div>-->
						<!--<div class="panel-body msg_container_base">-->
							<!--<span ng-repeat="packet in Messages">-->
								<!--<div ng-if="packet.type === 'Reciever'" class="row msg_container base_sent">-->
									<!--<div class="col-md-10 col-xs-10">-->
										<!--<div class="messages msg_sent">-->
											<!--<p>{{packet.msg}}</p>-->
											<!--<time>{{packet.time}}</time>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="col-md-2 col-xs-2 avatar">-->
										<!--<img ng-show="packet.isImage" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{packet.id}}" class=" img-responsive ">-->
										<!--<img ng-hide="packet.isImage" ng-src="../imgs/default-avatar.jpg" class=" img-responsive ">-->
									<!--</div>-->
								<!--</div>-->
								<!--<div ng-if="packet.type === 'Sender'" class="row msg_container base_receive">-->
									<!--<div class="col-md-2 col-xs-2 avatar">-->
										<!--<img ng-hide="packet.isImage" ng-src="../imgs/default-avatar.jpg" class="img-responsive" height="40" width="60">-->
										<!--<img ng-show="packet.isImage" ng-src="https://s3.amazonaws.com/sumacrm/avatars/{{packet.id}}" class=" img-responsive" height="40" width="60">-->
									<!--</div>-->
									<!--<div class="col-md-10 col-xs-10">-->
										<!--<div class="messages msg_receive">-->
											<!--<p ng-bind="packet.msg"></p>-->
											<!--<time>{{packet.time | date:"dd/MM/yyyy 'at' h:mma"}} </time>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</span>-->
						<!--</div>-->
						<!--<div class="panel-footer">-->
							<!--<div class="input-group">-->
								<!--<span class="input-group-btn">-->
									<!--<form ng-submit="submitchat()">-->
									<!--<input id="btn-input" type="text" ng-model="msg" class="form-control input-sm chat_input" placeholder="Write your message here..." />-->
									<!--</form>-->
								<!--</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

</section>
