<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>We have deployed Suma Crm version v.1.2</p>
<p>We are introducing following new feature in this deployment : </p>
<ul type="">
    <li>
        <b>Chat Engine :</b> We have implemented the Group Chat facility, as soon implement the private chat as well.
    </li>
    <li>
        <b>Bell Notification :</b> Bell Notification for company feed activity like comment, like etc.<br>
    </li>
    <li>
        <b>Task Managment :</b> Under this you can create task and assign and easily track the progress.<br>
    </li>
    <li>
        <b>Group Image :</b> As an admin of the group you can change the logo or the group image in header section.<br>
    </li>
</ul>
<p>Please visit our application : http://suma-crm.tk/ </p>
<p>You are welcome with your suggestions</p>
<p>SumaSoft Development Team</p>
<img src="https://s3.amazonaws.com/sumacrm/avatars/55264948b403980b009928a4" height="50" width="50">
</body>
</html>
