<section data-ng-controller="TasksController" data-ng-init="findOne()">
    <div class="page-header">
        <div class="title"></div>
    </div>
    <ul class="nav nav-tabs responsive" id="myTab">
        <li class="active"><a href="/#!/tasks">Tasks</a></li>
        <li><a href="/#!/tasks/create">Create Task</a></li>
        <li><a href="">Issues</a></li>
    </ul>
	<div class="col-xs-3 col-md-1 text-center article-left-pull">
		<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == task.createdBy._id))">
		<a class="btn btn-primary" href="/#!/tasks/{{task._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div><br>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="task.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="task.createdBy.displayName"></span>
		</em>
	</small>
</section>
