<section data-ng-controller="CompanyfeedsController"  data-ng-init="init()">
    <div class="page-header">
        <div class="title" translate="company.cfed"></div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="controls">
                        <textarea data-ng-model="name" id="name" class="form-control post-text-area" cols="30" rows="4" placeholder = "{{'company.pyt' | translate}}" autofocus="autofocus"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button ng-disabled="!name" class="btn btn-primary" ng-click="create()" translate="company.post">
                    </button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
                <div class="panel-body">
                    <div class="top-buffer" auto-complete value="autoCompleteData" model="data.tags"></div>
                </div>
            </div>

        </div>
    </div>
    <div data-ng-repeat="companyfeed in companyfeeds" class="row panel panel-default">
        <div class="row">
            <small class="pull-left col-md-offset-9 col-xs-offset-5">
                <span translate="list.pon"></span>
                <span data-ng-bind="companyfeed.created | date:'medium'"></span>
            </small>
        </div>
        <div class="col-md-1 col-xs-3">
            <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="60" width="55" class="img-rounded panel panel-default">
            <img ng-show="authentication.user.isImage" ng-src="{{imgPathOwn + companyfeed.user._id}}" height="60" width="55" class="img-rounded panel panel-default">
        </div>
        <div class="col-md-11 col-xs-9">
            <div class="row">
                <div class="col-md-4 col-xs-8">
                    <b><span class="text-primary" data-ng-bind="companyfeed.user.displayName"></span></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-xs-10 text-justify">
                    <p data-ng-bind="companyfeed.name"></p>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-11 col-xs-10">
                    <button ng-if="companyfeed.likers.length > 0"
                            class="btn-primary glyphicon glyphicon-thumbs-up"
                            ng-click="addLiker($index)">
                    </button>
                    <a ng-if="companyfeed.likers.length > 0"
                       tooltipPlacement="bottom"
                       class="red-tooltip"
                       ng-mouseover ="likersName(companyfeed.likers)"
                       data-toggle="tooltip"
                       tooltip="{{LikerName}}">{{'company.lik' | translate}}</a>
                    <a ng-if="companyfeed.likers.length>0" ng-mouseover ="likersName(companyfeed.likers)" ng-click="showliker()">({{companyfeed.likers.length}})</a>
                    <button ng-if="companyfeed.likers.length === 0" class="glyphicon glyphicon-thumbs-up" ng-click="addLiker($index)"></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div ng-repeat="comment in companyfeed.comment | limitTo: paginationLimit($index)" class="col-md-11 col-xs-10">
                    <div class="row">
                        <div class="col-md-1 col-xs-2">
                            <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="30" width="30" class="img-thumbnail">
                            <img ng-show="authentication.user.isImage" ng-src="{{imgPathOwn+comment.user_id}}" data-toggle="tooltip"
                                 data-placement="bottom"
                                 class="red-tooltip"
                                 tooltip="{{comment.user_name}}"
                                 height="30" width="30">
                        </div>
                        <div class="col-md-11 col-xs-10">
                            <div class="row">
                                <div class="col-md-11 col-xs-10" ng-bind="comment.comment">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 col-xs-10">
                                    <button ng-if="comment.commentLiker.length > 0" class="btn-primary glyphicon glyphicon-thumbs-up" ng-click="addCommentLike($parent.$parent.$index, $index)"></button>
                                    <a ng-if="comment.commentLiker.length>0"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       class="red-tooltip"
                                       ng-mouseover ="likersName(comment.commentLiker)"
                                       tooltip="{{LikerName}}"
                                       data-liker="{{LikerName}}">{{'company.lik' | translate}}</a>
                                    <a ng-if="comment.commentLiker.length>0" ng-mouseover ="likersName(comment.commentLiker)" ng-click="showliker()">{{comment.commentLiker.length}}</a>
                                    <button ng-if="comment.commentLiker.length === 0" class="glyphicon glyphicon-thumbs-up" ng-click="addCommentLike($parent.$parent.$index, $index)"></button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!--<div class="pull-right col-md-4 col-xs-5">-->
                            <!--<div class="row">-->
                                <!--<button ng-if="comment.commentLiker.length > 0" class="btn-primary glyphicon glyphicon-thumbs-up" ng-click="addCommentLike($parent.$parent.$index, $index)"></button>-->
                                <!--<a ng-if="comment.commentLiker.length>0"-->
                                   <!--data-toggle="tooltip"-->
                                   <!--data-placement="bottom"-->
                                   <!--class="red-tooltip"-->
                                   <!--ng-mouseover ="likersName(comment.commentLiker)"-->
                                   <!--tooltip="{{LikerName}}"-->
                                   <!--data-liker="{{LikerName}}">{{'company.lik' | translate}}</a>-->
                                <!--<a ng-if="comment.commentLiker.length>0" ng-mouseover ="likersName(comment.commentLiker)" ng-click="showliker()">{{comment.commentLiker.length}}</a>-->
                                <!--<button ng-if="comment.commentLiker.length === 0" class="glyphicon glyphicon-thumbs-up" ng-click="addCommentLike($parent.$parent.$index, $index)"></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="row">
                    <a  class="row col-md-2 col-xs-8 col-xs-offset-1 col-md-offset-1" ng-show="hasMoreItemsToShow($index)" ng-click="showMoreItems($index)">{{show_name}}</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1 col-xs-2">
                    <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="30" width="30" class="img-thumbnail">
                    <img ng-show="authentication.user.isImage" ng-src="{{imgPath}}" height="30" width="30">
                </div>
                <div class="col-md-9 col-xs-8">
                    <form ng-submit="addComment(companyfeed._id)">
                        <input data-ng-model="comment"  class="form-control" placeholder="{{'company.comment'| translate}}" required>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>
