<section data-ng-controller="CompanyfeedsController"  data-ng-init="find()">
    <div class="page-header">
        <h1>New Company Feed</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <button  class="btn btn-default" ng-submit="create()">Post</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <div class="page-header">
        <h1>Company Feeds</h1>
    </div>
    <div data-ng-repeat="companyfeed in companyfeeds">
        <div class="row">
            <div class="col-md-1">
                <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="70" width="80" class="img-thumbnail">
                <img ng-show="authentication.user.isImage" ng-src="{{imgPathOwn+companyfeed.user._id}}" height="70" width="80">
            </div>
            <div class="col-md-11">
                <b><span class="text-primary" data-ng-bind="companyfeed.user.displayName"></span></b>
            </div>
            <div>
                <small class="list-group-item-text" style="margin-left: 15px;">
                    Posted on
                    <span data-ng-bind="companyfeed.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="companyfeed.user.displayName"></span>
                </small>
            </div>
            <div class="row">
                <div class="col-xs-7 col-sm-5 text-justify">
                    <p data-ng-bind="companyfeed.name"></p>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-8 col-md-offset-1">
                    <button class="glyphicon glyphicon-thumbs-up" ng-click="addLiker(companyfeed._id, companyfeed.likes)" ng-bind="companyfeed.likes"></button>
                </div>
            </div>
        </div>
        <div class="row" ng-repeat="comment in companyfeed.comment">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-1">
                        <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="30" width="30" class="img-thumbnail">
                        <img ng-show="authentication.user.isImage" ng-src="{{imgPathOwn+comment.user_id}}" height="30" width="30">
                    </div>
                    <div class="col-md-10" ng-bind="comment.comment" style="margin-left: -40px">
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
        <div class="row" >
            <div class="col-md-1 col-md-offset-1">
                <img ng-hide="authentication.user.isImage" ng-src="../imgs/default-avatar.jpg"  height="30" width="30" class="img-thumbnail">
                <img ng-show="authentication.user.isImage" ng-src="{{imgPath}}" height="30" width="30">
            </div>
            <div class="col-md-4" style="margin-left: -55px">
                <input data-ng-model="comment"  class="form-control" placeholder="Comment">
                <button  ng-click="addComment(companyfeed._id)"> Post</button>
            </div>
        </div>
    </div>
</section>
